.button {
  display: inline-block;
  color: white;
  background: black;
  margin-top: 2rem;
  width: auto;
  padding: 8px 18px;

  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;

  cursor: pointer;

  line-height: 1.75;
}

@media (prefers-color-scheme: dark) {
  .button {
    background: white;
    color: black;
  }
}
